body {
	font-family: 'Roboto', sans-serif;
	background-color: lightblue;
	color: white;
}


h1 {color: rgb(0, 140, 255) !important;}


img{width: 600px; height: 300px; border: 5px solid  rgb(0, 140, 255)} 

.neat-border{width: 500px; height: 250px; border: 5px solid black;}